<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>All Items</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-item no-lines>
            <ion-label class="bold no-margin ion-text-center">Name</ion-label>
            <ion-label class="bold no-margin ion-text-center">Amount</ion-label>
            <ion-buttons class="buttons" slot="end">
                <ion-button (click)="alertNew()" fill="solid" shape="round">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
            </ion-buttons>

        </ion-item>

    </ion-card>

    <ion-card>

        <ion-item class="padding-bottom" *ngFor="let item of (items | async)?.data" no-lines>
            <ion-label class="ion-text-capitalize no-margin ion-text-center">{{item.item}}</ion-label>
            <ion-label class="no-margin ion-text-center">{{item.amount}}</ion-label>
            <ion-buttons class="buttons" slot="end">
                <ion-button color="secondary" (click)="alertUpdate(item)" fill="solid" shape="round">
                    <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button color="danger" (click)="doDelete(item)" fill="solid" shape="round">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>

    </ion-card>

</ion-content>